body {
  text-align: center;
  background: linear-gradient(to right, #ddddee, #eeeeff, #ddddee);
}

#navbar {
  padding: 12px;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

#navbar li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
}

a {
  color: #aaa;
  text-decoration: none;
}

.button-1 {
  background-color: #ffffff;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 8px;
  line-height: 4px;
  padding: 12px;
  margin-top: 5px;
}

.button-1:hover {
  background-color: rgb(249,250,251);
}

.button-1:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-1:focus-visible {
  box-shadow: none;
}

.text_div {
  padding: 5px;
}

.notes_div {
  padding: 20px;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.editor {
  margin: 4px auto 6px;
  outline: none;
  height: 150px;
  width: 750px;
  text-align: left;
  line-height: 1.4;
  overflow-y: auto;
  box-shadow: 1px 1px 2px #ddd;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px #ddd;
  background: #fff;
}

.editor[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}

.editor[placeholder]:empty:focus:before {
  content: '';
}

textarea {
  resize: none;
  margin: auto;
  display: block;
  padding: 10px;
}

#waveform {
  cursor: pointer;
  position: relative;
}

#hover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  pointer-events: none;
  height: 100%;
  width: 0;
  mix-blend-mode: overlay;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease;
}

#waveform:hover #hover {
  opacity: 1;
}

#time,
#duration {
  position: absolute;
  z-index: 11;
  top: 50%;
  margin-top: -1px;
  transform: translateY(-50%);
  font-size: 11px;
  background: rgba(0, 0, 0, 0.75);
  padding: 2px;
  color: #ddd;
}

#time {
  left: 0;
}

#duration {
  right: 0;
}