body {
  text-align: center;
  background: linear-gradient(to right, #ddddee, #effffe, #eedddd);
}

#navbar {
  padding: 12px;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

#navbar li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
}

a {
  color: #aaa;
  text-decoration: none;
}

.left_div {
  float: left;
  padding: 40px;
}

.right_div {
  float: right;
  padding: 40px;
}

textarea {
  resize: none;
}

#waveform {
  cursor: pointer;
  position: relative;
}

#hover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  pointer-events: none;
  height: 100%;
  width: 0;
  mix-blend-mode: overlay;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease;
}

#waveform:hover #hover {
  opacity: 1;
}

#time,
#duration {
  position: absolute;
  z-index: 11;
  top: 50%;
  margin-top: -1px;
  transform: translateY(-50%);
  font-size: 11px;
  background: rgba(0, 0, 0, 0.75);
  padding: 2px;
  color: #ddd;
}

#time {
  left: 0;
}

#duration {
  right: 0;
}