body {
  text-align: center;
  background: linear-gradient(to right, #ddddee, #effffe, #eedddd);
}

#navbar {
  padding: 12px;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
#navbar li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
}

a {
  color: #aaa;
  text-decoration: none;
}

.left_div {
  float: left;
  padding: 40px;
}

.right_div {
  float: right;
  padding: 40px;
}

textarea {
  resize: none;
}
