{% extends 'base.html' %}

{% block title %}Convert{% endblock %}

{% block content %}
{{ super() }}
<script src="{{ url_for('static', filename='js/convert.js') }}"></script>

<h1>Here you can convert your audio.</h1>

<form id="upload" method="POST" action="" enctype="multipart/form-data">
  <input type="text" id="auth" name="auth_data" placeholder="Client Secret" />
  <input type="file" id="file" name="file" accept="audio/x-mpeg" />
  <input type="submit" value="Submit" />
</form>

{% endblock %}