{% extends 'base.html' %}

{% block title %}Note{% endblock %}

{% block content %}
{{ super() }}
<script>var note_id = {{ id | tojson }};</script>

<h1 id="name">Note</h1>

<div id="waveform">
    <div id="time">0:00</div>
    <div id="duration">0:00</div>
    <div id="hover"></div>
</div>

<button class="button-1" id="play">Play / Pause</button>

<div>
    <div class="text_div">
        <textarea disabled id="text" rows="5" cols="70"></textarea>
    </div>
    <div class="notes_div">
        <textarea id="notes" rows="10" cols="100" placeholder="Type your notes here"></textarea>
        <button class="button-1" onmousedown="$('#notes').val($('#notes').val() + $('#text').val()); return false;">Paste converted text</button>
        <button class="button-1" id = "save">Save</button>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/notes.js') }}"></script>
{% endblock %}